.comment {
  background-color: #E5E5E5;
  min-height: 600px;

  @media (max-width: 375px) {
    min-height: 800px;
  }

  &__all {
    padding-top: 110px;

    @media (max-width: 375px) {
      padding-top: 40px;
    }

  }
  &__image {
    margin-top: 25px;
    display: flex;
    justify-content: center;

  }

  &__text {
    text-align: center;
    font-family: italic, serif;
    font-size: 20px;
  }

  &__type {
    margin-top: 16px;
    text-align: center;
    font-family: OpenSans, serif;
    font-weight: 600;
    font-size: 20px;
  }

  &__name {
    font-family: OpenSans, serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 9px;
    text-align: center;
  }
}